@import '../../vars.scss';

.promo {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: url('https://images.unsplash.com/photo-1611244806964-91d204d4a2a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    height: 100vh;
    // background-color: rgb(240, 255, 246);
    width: 60%;
}



