.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: transparent;
}

.link {
    list-style-type: none;
    margin-right: 10px;
    color: var(--font-white);
    font-size: 20px;
    cursor: pointer;
    transition: all .2s linear;
} .link:last-child { margin-right: 0 }

.link:hover {
    color: var(--font-yellow);
    transform: scale(1.05);
}

@media screen and (min-width: 900px) {
    .nav {
        justify-content: flex-start;
    }
}